$app-color-primary:#22cbed;
$primary-color: #007AFF;
$success-color: #4CD964;
$warning-color: #F0AD4E;
$error-color: #DD524D;
$text-color: #333333;
$text-color-secondary: #666666;
$disabled-color: #999999;
$border-color: #EEEEEE;
$background-color: #F8F8F8; 